

 <center>       
<div class= "landing" ng-repeat ="shoe in store.shoes">

      <div class ="each">
        <!--<h1 class = "pull-left">{{shoe._id}}</h1>-->
        <h1 class = "pull-left">
          <a href="{{shoe.name}}.html">{{shoe.name}}</a>
        </h1>
        <h2 class = "pull-right heartcount">{{shoe.hearts}}</h2>
        <em class= "pull-right">{{shoe.price | currency}}</em>
        <h2>{{shoe.page[0].hearts}}</h2>
        <br>
      <!--  <div ng-controller = "hrtCtrl as store.HeartController"> -->
        <heart-adder></heart-adder>
        <!--</div>-->
        <landing-gallery></landing-gallery>

   <!--     <button  ng-click="deleteShoe(shoe._id)">Delete</button>-->
      </div>
   </div>
   </center>

  
 