<div class="loadme2" ng-show="loadme2">
    <br>
    <div class="container container-fluid ">
        <div class="col-sm-12">
            <center>
                <h2 class="shoetitlestyling"> ({{mensShoe.name}})</h2>
            </center>
        </div>


        <div class="row">
            <div class="col-sm-2 shoesidepanel">
                <!--<a href="/shop/mens/Rashut"><img  id ="hojad"class="img-fluid"src="../img/hojadwider.gif"></a>-->
                
                <div class="hojadborder">
                    <br>
                    <center> <a href="/shop/mens/Rashut"><img  id ="hojad2"class="img-fluid"src="../img/hojadthin.gif"></a></center>
                    <br>
                </div>
                
            </div>
            <div id="pan-when-zoomed" class="col-sm-7 shoemiddlepanel">
                <i class="fa fa-plus zoom-in zoomicons" aria-hidden="true"></i>
                <i class="fa fa-minus zoom-out zoomicons" aria-hidden="true"></i>
                <i class="fa fa-refresh reset zoomicons" aria-hidden="true"></i>


                <div class="parent">

                    <div class="panzoom">
                        <center><img class=" img-fluid" ng-class="{onepointfive:zoomValue === 1, twotimes: zoomValue === 2, threetimes: zoomValue === 3} "
                                ng-src="{{mensShoe.fullsize[imageIndex]}}"></center>
                    </div>
                </div>


                <center>
                    <div class="thumbnails" ng-repeat="perspective in mensShoe.perspectives">

                        <img ng-click="imageChange($index);" ng-src="{{perspective}}">


                    </div>
                </center>

                <script>
                    (function () {
                        var $section = $('#pan-when-zoomed');
                        $section.find('.panzoom').panzoom({
                            $zoomIn: $section.find(".zoom-in"),
                            $zoomOut: $section.find(".zoom-out"),
                            $zoomRange: $section.find(".zoom-range"),
                            $reset: $section.find(".reset"),
                            panOnlyWhenZoomed: true,
                            minScale: 1
                        });
                    })();
                </script>

            </div>
            <div class="col-sm-3 shoespecs">
                <div class="header">

                    <h3 style="word-wrap:break-word" id="itemdescription">Description</h3>
                    <p class="secondarytext">{{mensShoe.description}}</p>
                    <h3 id="pricetitle">Price|</h3> <span class="secondarytext">{{mensShoe.price | currency}}</span>

                    <div class="sizer">
                        <br>
                        <p>Size: <span class="secondarytext">{{size}}</span></p>
                    </div>
                    <div class="sizer">
                        <p>Qty: <span class="secondarytext">{{amt}} </span></p>
                        <p ng-show="noQty">Please Enter An Amount</p>
                        <heart-adder></heart-adder>

                    </div>
                    <br>
                    <!--<i ng-show= "loading"class="fa fa-heart-o fa-spin" aria-hidden="true"></i>-->


                    <div class=" pull-left sizeselector">





                        <div class="btn-group btn-group-sm ">
                            <button type="button" class="btn btn-sm btn-primary buttonshadow">Qty&nbsp&nbsp</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <!-- <span class = "caret"></span>-->
                    <span class = "sr-only">Toggle Dropdown</span>
                </button>
                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <li class="dropdown-item" ng-click="changeQty('1');">1</li>
                                <li class="dropdown-item" ng-click="changeQty('2');">2</li>
                                <li class="dropdown-item" ng-click="changeQty('3');">3</li>
                                <li class="dropdown-item" ng-click="changeQty('4');">4</li>
                                <li class="dropdown-item" ng-click="changeQty('5');">5</li>
                                <li class="dropdown-item" ng-click="changeQty('6');">6</li>
                                <li class="dropdown-item" ng-click="changeQty('7');">7</li>
                                <li class="dropdown-item" ng-click="changeQty('8');">8</li>
                                <li class="dropdown-item" ng-click="changeQty('9');">9</li>

                            </ul>
                        </div>
                        <form name="checkoutForm" id="sizeformstyling" ng-submit="checkoutFunc(checkout);" class="btn-group btn-group-sm form-inline">
                            <button type="button" class="btn btn-sm  btn-primary buttonshadow">Size</button>

                            <button type="button" class="btn btn-primary dropdown-toggle buttonshadow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <!-- <span class = "caret"></span>-->
                    <span class = "sr-only">Toggle Dropdown</span>
                </button>

                            <ul class="dropdown-menu ">
                                <li ng-model="checkout.size" ng-click="changeSize('S');">S</li>
                                <li ng-model="checkout.size" ng-click="changeSize('M');">M</li>
                                <li ng-model="checkout.size" ng-click="changeSize('L');">L</li>

                            </ul>

                            <button type="submit" class="btn btn-sm btn-submit buttonshadow">&nbspSubmit&nbsp</button>
                        </form>

                        <p></p>
                        <p class="addToCart" ng-show="addedToCart"><strong>({{itemAddedToCart}}) </strong> Successfully added to your <a class="linkunderline" href="/shop/shoppingbag">cart</a>!</p>
                    </div>
                </div>
            </div>
        </div>


        <br>
        <br>
        <div class="row">
            <div class="col-sm-6 details">
                <div class="pull-right ">
                    <i class="fa fa-minus zoomicons " ng-click="openDetails();" ng-class="{deselected: shippingSelection === 1}" aria-hidden="true"></i>
                    <i class="fa fa-plus zoomicons" ng-click="openDetails();" ng-class="{deselected: shippingSelection === 0}" aria-hidden="true"></i>
                    <br>

                </div>
                <br>

                <div ng-show="selection === 1" class=" detailo">
                    <h3 class="detailostyling">Details|</h3>
                    <p class="secondarytextsimple detailostyling">{{mensShoe.description}}</p>
                </div>
                <br>
                <div class="pull-right ">
                    <i class="fa fa-plus zoomicons" ng-click="openFit();" ng-class="{deselected: fit === 1}" aria-hidden="true"></i>
                    <i class="fa fa-minus zoomicons" ng-click="openFit();" ng-class="{deselected: fit === 0}" aria-hidden="true"></i>
                    <br>
                </div>
                <br>
                <div ng-show="fit=== 1" class=" detailo">
                    <h3 id="shippingandreturnsstyling" class="detailostyling">Shipping & Returns</h3>
                    <p class="detailostyling secondarytextsimple">{{shipping}}</p>
                    <br>
                    <p class="detailostyling secondarytextsimple">{{returns}}</p>
                </div>

                <br>
                <br>
            </div>
            <div class="col-sm-6">
            </div>


        </div>

        <div class="row">


            <div class="col-sm-12 details">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 sitemap">

                <ul>
                    <li>
                        <a href="/faq">
                            <p>Faq</p>
                        </a>
                    </li>

                    <li>
                        <a href="/returns">
                            <p>Return Policy</p>
                        </a>
                    </li>

                    <li>
                        <a href="contact">
                            <p>Contact Us</p>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="col-sm-6 sitemap">
            </div>
            <div class="col-sm-3 emailsignup pull-right">
                <br>
                <br>
                <br>
                <br>

                <div class="pull-right">
                    <center><a href="https://www.instagram.com/houseofjewelsboutique/"><i style = "font-size:25px  "class="fa fa-instagram socialmediabuttons" aria-hidden="true"></i></a></center>
                </div>
                <div class=" pull-right">
                    <center><a href="https://www.instagram.com/houseofjewelsboutique/"><i style = "font-size:25px "class="fa fa-facebook socialmediabuttons" aria-hidden="true"></i></a></center>
                </div>
                <div class=" pull-right">
                    <center><a href="https://www.instagram.com/houseofjewelsboutique/"><i style = "font-size:25px "class="fa fa-twitter socialmediabuttons " aria-hidden="true"></i></a></center>
                </div>

            </div>
            <div class="col-sm-1">
            </div>
            <br>
            <br>
        </div>

    </div>
</div>