<section > 
            <ul class ="nav nav-pills">
                
                <li ng-class ="{ active: panel.isSelected(1)}"> <a href ng-click="panel.selectTab(1)">Description</a></li>
                <li ng-class ="{ active: panel.isSelected(2)}"> <a href ng-click="panel.selectTab(2)">Specifications</a></li>
                <li ng-class ="{ active: panel.isSelected(3) }"> <a href ng-click="panel.selectTab(3)">Reviews</a></li>
            </ul>
              
        <div class ="panel" ng-show ="panel.isSelected(1)">
            <h4>Description</h4>
            <p>{{product.description}}</p>
        </div>
        <div class = "panel" ng-show = "panel.isSelected(2)">
            <h4>Specifications</h4>
            <blockquote ng-repeat="i in products">
            <p>{{i.statistics}}</p>
            <button type="submit" ng-click="deleteGem(i._id)">delete</button>
            
            </blockquote>
            <specification-panel></specification-panel>
            <!--<form name ="submitForm" ng-controller = "SpecificationsController as specCtrl"
                        ng-submit="specCtrl.addSpec(product)">

                <div class="form-group">
                    <blockquote>
                        <p>{{specCtrl.specifications}}</p>
                    <input type="text" ng-model="specCtrl.specifications">
                </div>
                <input type="submit" value"Submit" >            
                </form>-->
        </div>
        <div class = "panel"ng-show = "panel.isSelected(3)">
            <h4>Reviews</h4>
             <blockquote ng-repeat = "review in product.reviews">
                <p>Stars: {{review.stars}}</p>
                 {{review.body}}
                 <cite> by: {{review.author}}</cite>
            </blockquote>
                        <form name = "reviewForm" ng-controller ="ReviewController as reviewCtrl"
                                       ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
            <blockquote>
                <b>Stars: {{reviewCtrl.review.stars}}</b>
                 {{reviewCtrl.review.body}}
                 <cite> by: {{reviewCtrl.review.author}}</cite>
            </blockquote>
                <select class="custom-select" ng-model="reviewCtrl.review.stars"required>
                    <option value="1">1 star</option>
                    <option value="2">2 star</option>
                    <option value="3">3 star</option>
                    <option value="4">4 star</option>
                    <option value="5">5 star</option>
                </select>
                <textarea ng-model="reviewCtrl.review.body"required></textarea>
                <label>by:</label>
                <input ng-model="reviewCtrl.review.author"type="email" required/>
                <div> reviewForm is {{reviewForm.$valid}} </div>
                <input type="submit" value="Submit"/>
            </form>
        </div>

        </section>