
            <form name = "reviewForm" ng-controller ="ReviewController as reviewCtrl"
                                       ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
            <blockquote>
                <b>Stars: {{reviewCtrl.review.stars}}</b>
                 {{reviewCtrl.review.body}}
                 <cite> by: {{reviewCtrl.review.author}}</cite>
            </blockquote>
                <select ng-model="reviewCtrl.review.stars"required>
                    <option value="1">1 star</option>
                    <option value="2">2 star</option>
                    <option value="3">3 star</option>
                    <option value="4">4 star</option>
                    <option value="5">5 star</option>
                </select>
                <textarea ng-model="reviewCtrl.review.body"required></textarea>
                <label>by:</label>
                <input ng-model="reviewCtrl.review.author"type="email" required/>
                <div> reviewForm is {{reviewForm.$valid}} </div>
                <input type="submit" value="Submit"/>
            </form>