<div class="col-sm-8 col-sm-offset-2 text-center">
                
                <form>
                    <div class ="form-group">
                
                        <input type="text" class="form-control input-lg text-center" placeholder="I am dark matter" ng-model="formData.name" required>
                 
                    </div>  
                    <div class ="form-group">
                
                        <input type="text" class="form-control input-lg text-center" placeholder="I am dark matter" ng-model="formData.price" required>
                 
                    </div>
                    <div class ="form-group">
                
                        <input type="text" class="form-control input-lg text-center" placeholder="I am dark matter" ng-model="formData.shoecolor" required>
                 
                    </div>  
                    <div class ="form-group">
                
                        <input type="text" class="form-control input-lg text-center" placeholder="I am dark matter" ng-model="formData.colors" required>
                 
                    </div>     
                    <div class ="form-group">
                
                        <input type="text" class="form-control input-lg text-center" placeholder="I am dark matter" ng-model="formData.stars" required>
                 
                    </div>
                    <div class ="form-group">
                
                        <input type="text" class="form-control input-lg text-center" placeholder="I am dark matter" ng-model="formData.hearts" required>
                 
                    </div>      
                    <button type="submit" ng-click="createShoe()">Add</button>
                    
                </form>  
            </div>