<br>

<div class = "container container-fluid">
<div class = "row">
    <div class = "col-sm-12 faqheader">
        <h1 class ="bellefair"id="faqheaderstyle">CONTACT</h1>
    </div>
</div>
<br>

    
    <div class ="row">
        <div class = "col-sm-3 " id ="sideblockreturns">
            <h1><a href = '#'>Contact</a></h1>
            
       </div>
        <div class = "col-sm-9 questionblock">
            <h1> Contact Us! </h1>
            <br>
            <p>E-MAIL: <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">thehouseofjewels@hoj.com</a></p>
        <a href="https://www.instagram.com/houseofjewelsboutique/"><i style = "font-size:25px"class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/houseofjewelsboutique/"><i style = "font-size:25px"class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/houseofjewelsboutique/"><i style = "font-size:25px"class="fa fa-twitter" aria-hidden="true"></i></a>

        </div>
        <!--<div class = "col-sm-12">
            <center>
                        <a href="https://www.instagram.com/houseofjewelsboutique/"><i style = "font-size:30px"class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/houseofjewelsboutique/"><i style = "font-size:30px"class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/houseofjewelsboutique/"><i style = "font-size:30px"class="fa fa-twitter" aria-hidden="true"></i></a>
            </center>
        </div>-->
    </div>
<br>
<br>
<!--
<div class ="row">
    <div class = "col-sm-12 details">
    </div>
</div>
-->
<br>
<br>
</div>