<br>

<div class = "container container-fluid">
<div class = "row">
    <div class = "col-sm-12 faqheader">
        <h1 id="faqheaderstyle">FAQ</h1>
    </div>
</div>
<br>

    
    <div class ="row">
        <div class = "col-sm-3">
            <h1><a href = '#'>Orders</a></h1>
            
       </div>
        <div class = "col-sm-9 questionblock">
            <h1> Frequently Asked Questions </h1>
            <br>
            <div class = "questionblock">
            <h1>Orders</h1>
            <a href ="#"><strong><p ng-click="showAnswerFunc(1);">Where are my items?</p></strong></a>
            <div ng-show="showAnswer">
                <p>For Order Tracking, please visit the <i class="fa fa-search" aria-hidden="true"></i><a href = "#">Track my order!</a> page to view the status, and the approximate location of your item...</p>
            </div>
            </div>
            <br>
                        <div class = "questionblock">
            
           <a href ="#"><strong><p ng-click="showAnswerFunc(2);">Where can i find you online?</p></strong></a>
            <div ng-show="showAnswer2">
                <p>Great question! Currently, we can be found on  <i class="fa fa-facebook-official" aria-hidden="true"></i>, and  <i class="fa fa-instagram" aria-hidden="true">!</i>
</p>
            </div>
            </div>
            <br>
                        <div class = "questionblock">
            
            <a href ="#"><strong><p ng-click="showAnswerFunc(3);">How can i contact your management?</p></strong></a>
            <div ng-show="showAnswer3">
                <p>Please, check out our  <i class="fa fa-envelope" aria-hidden="true"></i><a href ="#">Contact</a> page for a full list of contact addresses, and phone numbers.</p>
            </div>
            </div>
            <br>
                        <div class = "questionblock">
            
            <a href ="#"><strong><p ng-click="showAnswerFunc(4);">What is your return policy?</p></strong></a>
            <div ng-show="showAnswer4">
                <p>Upon the reciept and confirmation of our order, you will have 30-days to request a full refund of your purchase price, minus any shipping fees. 
                    After this only in-store credit will be issued...</p>
            </div>
            </div>
            <br>
                        <div class = "questionblock">
            
            <a href ="#"><strong><p ng-click="showAnswerFunc(5);">May i pre-order?</p></strong></a>
            <div ng-show="showAnswer5">
                <p>Why, yes! If you see the black <i class="fa fa-paper-plane" aria-hidden="true"></i>
 next to the submit button of each item, you will be taken to a page detailing the steps to take to pre-order your item...</p>
            </div>
            </div>
        </div>
    </div>



</div>