<div class ="page-header">
    <h1>Welcome to Your Order Summary</h1>
</div>

        <div class = "row">
                <div class = "col-sm-2">
                        <p>Item</p>
                </div>
                                <div class = "col-sm-2">
                        <p>Item</p>
                </div>
                                <div class = "col-sm-2">
                        <p>Item</p>
                </div>
                                <div class = "col-sm-2">
                        <p>Item</p>
                </div>
                                <div class = "col-sm-2">
                        <p>Item</p>
                </div>
                                <div class = "col-sm-2">
                        <p>Item</p>
                </div>
        </div>