<div class = "row text-center">
    <div class ="col-lg-3">
    </div>
    <div class ="col-lg-6">
<div class = "page-header">
    <h1>Reset Password</h1>
</div>

<form ng-hide="reset.hide"name = "regForm" ng-submit="reset.savePassword(regData, regForm.$valid,confirmed);" novalidate>

    <div ng-class="{ 'has-success': (regForm.firstPassword.$valid && !regForm.firstPassword.$pristine), 'has-error':(!regForm.firstPassword.$valid && !regForm.firstPassword.$pristine)|| (!regForm.firstPassword.$valid && regForm.$submitted) }"> 
        <label>Password</label>
        <input ng-disabled="reset.disabled"class="form-control"type="password" name="firstPassword" placeholder="password" ng-model="firstPassword" ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d]).{8,35}$/" ng-minLength="8" ng-maxLength="35"required/>
        <p class="form-text" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.required) || (regForm.$submitted && regForm.firstPassword.$error.required)">This field is required</p>
        <ul class="help-block"ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.pattern)|| (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.minlength) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.maxlength)">
            <li>Must contain one uppercase letter, one lowercase letter, and a number...</li>
            <li>Must be at least 8 characters and no longer than 35 each...</li>
        </ul>
    </div>
    <div ng-class="{ 'has-success':confirmed && !regForm.confirmPassword.$error.required, 'has-error':(!confirmed && !regForm.confirmPassword.$error.required) || (regForm.confirmPassword.$error.required && !regForm.confirmPassword.$pristine) || (regForm.$submitted && regForm.confirmPassword.$error.required) }">
        <label>Confirm Password</label>
        <input class="form-control"type="password" name="confirmPassword" placeholder="Please confirm password"  match ="{{[firstPassword]}}" ng-change="reset.regData.password = confirm " ng-model="confirm" required/>
        <p ng-show="!confirmed && !regForm.confirmPassword.$pristine && regForm.firstPassword.$valid">Passwords do not match </p>
        <p class="help-block" ng-show="(!regForm.confirmPassword.$pristine && regForm.confirmPassword.$error.required) || (regForm.$submitted && regForm.confirmPassword.$error.required)">This field is required</p>
        </div>

        
    <button class="btn btn-primary"type="submit">Reset Password</button>
</form>

<br>

<div class="jumbotron text-center" ng-show="reset.loading">

    <span class="glyphicon glyphicon-repeat spin"></span>
    <p>loading...</p>

</div>
<br>
<div class="row show-hide-message"ng-show="reset.successMsg">
    <div class="alert alert-success">{{reset.successMsg}}</div>
</div>
<br>
<div class="row show-hide-message"ng-show="reset.errorMsg">
    <div class="alert alert-danger">{{reset.errorMsg}}</div>
</div>
</div>
<div class ="col-lg-3">
    </div>
</div>