<br>

<div class = "container container-fluid">
<div class = "row">
    <div class = "col-sm-12 faqheader">
        <h1 class ="bellefair"id="faqheaderstyle">RETURNS</h1>
    </div>
</div>
<br>

    
    <div class ="row">
        <div class = "col-sm-3 " id ="sideblockreturns">
            <h1><a href = '#'>Returns</a></h1>
            
       </div>
        <div class = "col-sm-9 questionblock">
            <h1> Returns </h1>
            <br>
            <p>RETURNS: For your convenience, we accept online returns at House Of Jewels stores within Canada. We gladly accept returns of unworn merchandise within 30 days of delivery. If there is no store near you then you may obtain return authorization via phone, Live Chat, e-mail or by signing into your account and going into your order. The authorization requests must be made within 30 days from when your order is delivered. Shipping charges are not refundable and there is a $6.95 per order return fee that covers restocking and postage back to the warehouse. Clearance items and earring purchases cannot be returned or exchanged. Click here to view our full Return Policy</p>
        </div>
    </div>



</div>